---
import Layout from "../layouts/Layout.astro";
import TypingAnimation from "@/components/ui/typing-animation";

import "@/styles/globals.css";
import Particles from "@/components/ui/particles";
---

<Layout title="Bela Health">
  <main class="relative w-full h-screen">
    <Particles className="absolute inset-0 w-full h-full" client:load />
    <div class="relative z-10 flex items-center justify-center w-full h-full">
      <TypingAnimation className="text-5xl" text="Demnächst Verfügbar" client:load/>
    </div>
  </main>
</Layout>

<style>
  main {
    color: #072a4fff;
  }
</style>
